.col-md-10
  %strong
    %i.glyphicon.glyphicon-list-alt
      Your Summary
.col-md-2
  %button.btn.btn-info{"ng-click" => "newRegistry()"} New Expense

.col-md-12
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Total Value
        %th Description
    %tbody
      %tr{"ng-repeat" => "registry in registries"}
        %td {{registry.reg_date}}
        %td {{registry.total_value}}
        %td{"ng-click" => "viewRegistry(registry.id)"} {{registry.description}}
